/*
	Kevin Lin - 40002383
	SOEN 287 Summer 2017 - Assignment 1
	Question 4
*/
body {
	text-align: center;
}

#first {
	padding: 5px;
	border: dotted;
	border-width: 2px;
	border-color: green;
	width: 200px;
	height: 200px;
}

#second {
	padding: 5px;
	border: dotted;
	border-width: 2px;
	border-color: green;
	width: 200px;
	height: 200px;
}

#red {
	font-style: bold;
}